<!-- <p>tweet-component works!</p> -->

<div class="container">
    <div class="row">
        <div class="tweet-card" *ngFor="let tweet of tweets">
            <div class="tweet-header">
                <img src={{profileImageLink}} alt="Profile Image" class="profile-img">
                <div class="tweet-user-info">
                    <h4 class="tweet-user-name">{{user.name}}</h4>
                    <h5 class="tweet-user-username">@{{user.username}}</h5>
                </div>
                <div class="tweet-options">...</div>
            </div>
            <div class="tweet-body">
                <p class="tweet-message">{{tweet.message}}</p>
                <div class="tweet-mentions">
                    <ul>
                        <li *ngFor="let mention of tweet.mentions">{{mention}}</li>
                    </ul>
                </div>
                <div class="tweet-hashtags">
                    <ul>
                        <li *ngFor="let hashtag of tweet.hashtags">{{hashtag}}</li>
                    </ul>
                </div>
                <div class="tweet-links">
                    <ul>
                        <li *ngFor="let link of tweet.links">{{link}}</li>
                    </ul>
                </div>
                <div class="tweet-image-container">
                    <img src="http://myslab42s08:3000/ashutosh.patel/MyTwitterAssets/raw/branch/main/3.jpg" alt="Tweet Image">
                </div>
                <div class="tweet-footer">
                    <p class="tweet-time">{{tweet.createdAt.substr(11,8)}} - {{tweet.createdAt.substr(0,10)}}</p>
                    <p class="tweet-engagement">
                        <b>100</b> Retweets <b>5</b> Quote Tweets <b>25</b> Likes
                    </p>
                </div>
            </div>
            <div class="tweet-actions">
                <a href=""><img src="assets/message.png" alt="Reply" class="action-icon"></a>
                <a href=""><img src="assets/retweet.jpg" alt="Retweet" class="action-icon"></a>
                <a href=""><img src="assets/like.jpg" alt="Like" class="action-icon"></a>
                <a href=""><img src="assets/shareIcon.jpg" alt="Share" class="action-icon"></a>
            </div>
        </div>
    </div>
</div>


<!-- <div class="container">
    <div class="row">
            <div class="card mt-3" style="width: 100%; max-width: 650px;" *ngFor="let tweet of tweets">
                <div class="card-body" >
                    <div class="row">
                        <div class="col-lg-3"><img src={{profileImageLink}} alt="" class="rounded-circle" style="width: 50%;height: 80%;"></div>
                        <div class="col-lg-6">
                            <h4>{{user.name}}</h4>
                            <h4>@{{user.username}}</h4>
                        </div>
                        <div class="col-lg-3 btn">...</div>
                    </div>
                    <div class="mt-4">
                        <p class="card-text">{{tweet.message}}</p>
                        <div class="mentions text-primary">
                            <ul>
                                <li *ngFor="let mention of tweet.mentions">{{mention}}</li>
                            </ul>
                        </div>
                        <div class="hashtags text-primary">
                            <ul>
                                <li *ngFor="let hashtag of tweet.hashtags">{{hashtag}}</li>
                            </ul>
                        </div>
                        <div class="links text-primary">
                            <ul>
                                <li *ngFor="let link of tweet.links">{{link}}</li>
                            </ul>
                        </div>
                        <div class="image-container" style="width: 100%;">
                            <img src="http://myslab42s08:3000/ashutosh.patel/MyTwitterAssets/raw/branch/main/3.jpg" alt="">
                        </div>
                        <p class="card-text">{{tweet.createdAt.substr(11,8)}} - {{tweet.createdAt.substr(0,10)}} - Twitter Web Client</p>
                        <p class="card-text"><b>100</b> Retweets <b>5</b> Quote Tweets <b>25</b> Likes</p>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-3"><a href=""><img src="assets/message.png" alt="" style="width: 30%"></a></div>
                        <div class="col-md-3"><a href=""><img src="assets/retweet.jpg" alt="" style="width: 30%"></a></div>
                        <div class="col-md-3"><a href=""><img src="assets/like.jpg" alt="" style="width: 30%"></a></div>
                        <div class="col-md-3"><a href=""><img src="assets/shareIcon.jpg" alt="" style="width: 30%"></a></div>
                    </div>
                </div>
            </div>        
    </div>
</div> -->
<!-- 
<div class="container-fluid">
    <div class="row">
        <div class="col-6 mx-auto">
            <div class="card mt-3" style="width: 100%;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3"><img src="assets/cat.jpg" alt="" class="rounded-circle" style="width: 50%;height: 80%;"></div>
                        <div class="col-lg-6">
                            <h4>{{userDetailsById[0].name}}</h4>
                            <h4>{{userDetailsById[0].username}}</h4>
                        </div>
                        <div class="col-lg-3">...</div>
                    </div>
                    <div class="mt-4">
                        <p class="card-text">{{tweetWithId[0].message}}</p>
                        <p class="card-text">{{tweetWithId[0].createdAt.substr(11,8)}} - {{tweetWithId[0].createdAt.substr(0,10)}} - Twitter Web Client</p>
                        <p class="card-text"><b>100</b> Retweets <b>5</b> Quote Tweets <b>25</b> Likes</p>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-3"><a href=""><img src="assets/message.png" alt="" style="width: 30%"></a></div>
                        <div class="col-md-3"><a href=""><img src="assets/retweet.jpg" alt="" style="width: 30%"></a></div>
                        <div class="col-md-3"><a href=""><img src="assets/like.jpg" alt="" style="width: 30%"></a></div>
                        <div class="col-md-3"><a href=""><img src="assets/shareIcon.jpg" alt="" style="width: 30%"></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->