<div class="sidebar">
    <div class="sidebar-content">
        <div class="user">
            <div class="avatar">
                <img src="../../assets/cat.jpg" alt="profile" />
            </div>
            <p (click)="showProfile(3)" class="btn">Hey Ashu & Sachin</p>
            <p>ashusachin@infy.com</p>
        </div>
        <nav class="links">
            <ul>
                <li>
                    <!-- <NavLink exact to="/"> -->
                    <a href="">
                        <span style="margin-right: 8px;"><i class="fa-solid fa-house"></i></span>
                        <div>Home</div>
                    </a>
                    <!-- </NavLink> -->
                </li>
                <li>
                    <!-- <NavLink to="/create"> -->
                    <a href="">
                        <span style="margin-right: 8px;"><i class="fa-solid fa-bell"></i></span>
                        <span>Notifications</span>
                    </a>
                    <!-- </NavLink> -->
                </li>
                <li>
                    <!-- <NavLink to="/create"> -->
                    <a href="">
                        <span style="margin-right: 8px;"><i class="fa-solid fa-comment"></i></span>
                        <span>Messages</span>
                    </a>
                    <!-- </NavLink> -->
                </li>
                <li>
                    <!-- <NavLink to="/create"> -->
                    <a href="">
                        <span style="margin-right: 8px;"><i class="fa-solid fa-user"></i></span>
                        <span>Profile</span>
                    </a>
                    <!-- </NavLink> -->
                </li>
                <li>
                    <!-- <NavLink to="/create"> -->
                    <a href="">
                        <span style="margin-right: 8px;"><i class="fa-solid fa-bars"></i></span>
                        <span>More</span>
                    </a>
                    <!-- </NavLink> -->
                </li>
                <li>
                    <div class="d-flex justify-content-center align-items-center">
                        <button class="btn btn-primary form-control">Post</button>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>