<div class="sidebar">
    <div class="sidebar-content">
        <div class="user">
            <img src="" alt="profile"/>
            <p (click)="showProfile(3)" class="btn">Hey Ashu & Sachin</p>
            <p>ashusachin@infy.com</p>
        </div>
        <nav class="links">
            <ul>
                <li>
                    <!-- <NavLink exact to="/"> -->
                        <a href="">
                            <img src="" alt="Home icon" />
                            <span>Home</span>                       
                        </a>
                    <!-- </NavLink> -->
                </li>
                <li>
                    <!-- <NavLink to="/create"> -->
                        <a href="">
                            <img src="" alt="Not icon" />
                            <span>Notifications</span>
                        </a>
                    <!-- </NavLink> -->
                </li>
                <li>
                    <!-- <NavLink to="/create"> -->
                        <a href="">
                            <img src="" alt="Messages icon" />
                            <span>Messages</span>
                        </a>
                    <!-- </NavLink> -->
                </li>
                <li>
                    <!-- <NavLink to="/create"> -->
                        <a href="">
                            <img src="" alt="Profile icon" />
                            <span>Profile</span>
                        </a>
                    <!-- </NavLink> -->
                </li>
                <li>
                    <!-- <NavLink to="/create"> -->
                        <a href="">
                            <img src="" alt="More icon" />
                            <span>More</span>
                        </a>
                    <!-- </NavLink> -->
                </li>
            </ul>
        </nav>
    </div>

</div>