<form class="auth-form">
    <h2>Login</h2>
    <label>
        <span>Email:</span>
        <input
            required
            type="email"
            value="abc@yz.com"
        />
    </label>
    <label>
        <span>Password:</span>
        <input
            required
            type="password"
            value="&*HK77d"
        />
    </label>

    <button class="btn-primary">Login</button>
    <!-- {isPending && <button className="btn" disabled>Loading...</button>} -->
    <!-- {error && <div className="error">{error}</div>} -->
</form>