<!-- <p>search-bar works!</p> -->


<div class="container myclass">
    <div class="row">
        <div class="search-container">
            <input [formControl]="searchControl" class="form-control" placeholder="Search Users.....">
            <div *ngIf="suggestions$ | async as suggestions">
                <ul class="list">
                    <li *ngFor="let suggestion of suggestions" (click)="showclickedUser(suggestion.id)">
                        <img src="../../assets/profiles/{{suggestion.id}}.jpg" alt="" style="width: 40px;" class="rounded-circle">
                        {{suggestion.username}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>