<!-- <app-side-bar></app-side-bar>
<app-feed></app-feed>
<app-footer></app-footer>
<app-login></app-login>
<app-search-bar></app-search-bar>
<app-signup></app-signup> -->
<!-- <app-side-bar></app-side-bar> -->
<!-- <app-footer></app-footer> -->
<!-- <app-login></app-login> -->
<!-- <app-signup></app-signup> -->
<!-- hello -->
<!-- <app-search-bar></app-search-bar> -->
<!-- comment from sachin -->
<!-- <app-explore-bar></app-explore-bar> -->
<!-- comment from sachin -->
 <router-outlet></router-outlet>
<!-- <router-outlet></router-outlet> -->
<!-- <app-feed></app-feed> -->