<!-- <p>landing-page works!</p> -->


<div class="container-fluid">
    <div class="row">
        <div>
            <button class="btn btn-outline-primary d-lg-none mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar" target="#sidebar" controls="sidebar" expanded="false" aria-label="Toggle Sidebar">. . .</button>
        </div>
        <!-- <div class="col-lg-3 myclass">
            <app-side-bar [userId]="userIdFromUrl"></app-side-bar>
        </div> -->
        <div class="col-lg-3 col-md-3 col-12 collapse d-lg-block myclass" id="sidebar">
            <app-side-bar [userId]="userIdFromUrl"></app-side-bar>
        </div>
        <div class="col-lg-6">
            <app-search-bar [userId]="userIdFromUrl"></app-search-bar>
            <app-feed [userId]="userIdFromUrl"></app-feed>
        </div>
        <div class="col-lg-3">
            <app-explore-bar></app-explore-bar>
        </div>
    </div>
</div>
