.profile-img{
    margin-top: -75px;
    margin-left: 15px;
}
.media{
    border-bottom: 1px solid #e1e8ed;
    padding-bottom: 15px;
}
.media:last-child{
    border-bottom: none;
}
.myContainer{
    display: flex;
    justify-content: center;
}
.newStyle > :hover{
    border: 2px solid black;
    font-weight: 500;
}
.btn-opt{
    color: black;
    /* font-weight: 500; */
    font-style:oblique;
}